:root {
  --light-bg: #fef6e4;
  --light-h: #001858;
  --light-p: #172c66;
  --light-btn: #f582ae;
  --light-btn-text: #001858;
  --light-highlight: #fef6e4;
  --light-secondary: #8bd3dd;
  --light-tertiary: #f582ae;

  --dark-bg: #004643;
  --dark-h: #fffffe;
  --dark-p: #abd1c6;
  --dark-btn: #f9bc60;
  --dark-btn-text: #001e1d;
  --dark-highlight: #f9bc60;
  --dark-secondary: #abd1c6;
  --dark-tertiary: #e16162;
}

$nav-height: 10rem;
