doctype html
html(lang="en")
  include components/jet-cat.pug
  include components/mo-coding.pug
  include components/navbar.pug
  include components/linkedin-icon.pug
  include components/git-icon.pug
  include components/twitter-icon.pug
  include components/codepen-icon.pug
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content="Marc Obel's personal portfolio")
    link(rel="icon"  href="favicon.svg")
    meta(name='theme-color' content='#fef6e4')
    link(rel='stylesheet' href='./css/style.css')
    title Marc Obel's Blog

  body
    +navbar
    main
      +jetcat
      section.introduction
        h1.intro-1 Hi, I'm Marc
        h2.intro-2 - FRONTEND DEVELOPER
        h3.intro-3 I like making fun and perfomant things on the web
      section.about-me
        svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 375 105')
          path(d='M0 104V0s0 56 153 56 221.5 48 221.5 48H0z', fill='#8BD3DD')
          path(d='M375 92s-73.5-18-186.5-18S0 52.5 0 52.5v52h375V92z', fill='#FDEFCE')
        +mo-coding
        div.about-me-container
          h1.about-me-h About me
          p.about-me-p I currently work as a developer for 
            a.about-me-a(href="https://www.nemlig.com/" target="_blank" aria-label="nemlig.com" rel="noopener") Nemlig.com 
            | and have been working there since 2018. 
            br
            | I have volunteered at 
            a.about-me-a(href="https://codingpirates.dk/" target="_blank" aria-label="coding pirates" rel="noopener") Coding Pirates DK 
            | since 2017 as a teacher. I have taught multiple workshops ranging from 
            | Web Development to 3D modeling/printing and robot wrestling. 
          
          p.about-me-p Some of my favorite technologies to work with include React, Vue, GSAP, Sass and Typescript.
          p.about-me-p-hire Contact me, hire me or follow me on these platforms:
          .social-container
            +linkedin-icon
            +git-icon
            +codepen-icon
            +twitter-icon



