doctype html
html(lang="en")
  include components/jet-cat.pug
  include components/mo-coding.pug
  include components/navbar.pug
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content="Marc Obel's personal portfolio")
    meta(name='theme-color' content='#fef6e4')
    link(rel='stylesheet' href='./css/style.css')
    title Marc Obel

  body
    +navbar
    main
      section.introduction
        h1 Hi, I'm Marc Obel,
      +jetcat
