.featured-work {
  &__item {
    display: block;
  }

  &__action {
    text-align: center;
  }

  &__latest-list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
