mixin jetcat
  svg(class="jet-cat" fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 259 320')
    g#full-cat
      ellipse(id='Ellipse 41', cx='188.5', cy='137', rx='183.5', ry='183', fill='#8BD3DD')
      path#cloud1(d='M10 266h123.5', stroke='#F582AE', stroke-opacity='.52', stroke-width='19', stroke-linecap='round')
      path#cloud3(d='M89 21h123.5', stroke='#F582AE', stroke-opacity='.46', stroke-width='19', stroke-linecap='round')
      path#cloud2(d='M113.5 177h158', stroke='#F582AE', stroke-opacity='.46', stroke-width='19', stroke-linecap='round')
      g#rainbow
        path(id='Rectangle 3', fill='#6FCF97', d='M203.64 113.7h5.73V303h-5.73z')
        path(id='Rectangle 4', fill='#EB5757', d='M209.36 113.7h5.73V303h-5.73z')
        path(id='Rectangle 5', fill='#F2C94C', d='M215.09 113.7h5.73V303h-5.73z')
        path(id='Rectangle 6', fill='#56CCF2', d='M220.81 113.7h5.73V303h-5.73z')
        path(id='Rectangle 7', fill='#F2994A', d='M226.54 113.7h5.73V303h-5.73z')
        path(id='Rectangle 8', fill='#BB6BD9', d='M232.26 113.7h5.73V303h-5.73z')
      g#jet-cat
        path(id='Rectangle 37', d='M198.73 196.5l7.42-19H235l8.25 19h-44.5z', fill='#FEF6E4', stroke='#001858')
        g#rocket(stroke='#001858')
          path(id='Rectangle 14', d='M195.8 98.92c0-3.35.9-6.67 2.7-9.47 4.24-6.6 8.06-11.4 11.66-14.52 3.6-3.12 6.93-4.52 10.22-4.42 3.29.1 6.63 1.72 10.22 4.87 3.6 3.15 7.4 7.8 11.62 13.86a17.68 17.68 0 013.08 10.09v71.1a18.5 18.5 0 01-18.5 18.5h-12.5a18.5 18.5 0 01-18.5-18.5V98.93z', fill='url(#paint0_linear)')
          path(id='Vector 7', d='M210.14 92.62v57.52h12.5m21.6 0h-21.6m0 0v17.7h-23.17')
          path(id='Vector 6', d='M198.17 92.1h45.28', stroke-linecap='round')
          circle(id='Ellipse 5', cx='213', cy='96.79', r='1.06')
          circle(id='Ellipse 6', cx='213', cy='110.32', r='1.06')
          circle(id='Ellipse 7', cx='213', cy='123.85', r='1.06')
          circle(id='Ellipse 8', cx='213', cy='138.95', r='1.06')
          circle(id='Ellipse 9', cx='222.37', cy='146.76', r='1.06')
          circle(id='Ellipse 10', cx='219.25', cy='153.52', r='1.06')
          circle(id='Ellipse 11', cx='207.28', cy='164.97', r='1.06')
          circle(id='Ellipse 12', cx='234.87', cy='146.76', r='1.06')
          circle(id='Ellipse 13', cx='219.25', cy='164.97', r='1.06')
        g#cat
          g#body
            path(id='tail', d='M173.447 222.515C173.447 222.515 179.5 234 168.242 243.335C156.985 252.669 170.585 266.757 170.585 266.757', stroke='#001858', stroke-width='8', stroke-linecap='round')
            g(id='Rectangle 9')
              g(filter='url(#filter0_i)')
                path(d='M146.38 103.3a13 13 0 0113-13h28.13a13 13 0 0113 13v107.78a13 13 0 01-13 13h-28.13a13 13 0 01-13-13V103.3z', fill='#F7E0D4')
              path(d='M146.88 103.3c0-6.9 5.6-12.5 12.5-12.5h28.13c6.9 0 12.5 5.6 12.5 12.5v107.78c0 6.9-5.6 12.5-12.5 12.5h-28.13c-6.9 0-12.5-5.6-12.5-12.5V103.3z', stroke='#000')
            g(id='leg1')
              g(filter='url(#filter1_i)')
                path(d='M184.07 212.92a6.57 6.57 0 0113.08 1.26l-4.78 49.69a6.57 6.57 0 01-13.09-1.26l4.79-49.69z', fill='#F3D2C1')
              path(d='M184.56 212.97a6.07 6.07 0 1112.1 1.16l-4.8 49.69a6.07 6.07 0 01-12.08-1.17l4.78-49.68z', stroke='#000')
            g(id='leg2')
              g(filter='url(#filter2_i)')
                path(d='M149.2 211.88a6.57 6.57 0 0113.08 1.26l-4.79 49.69a6.57 6.57 0 01-13.08-1.26l4.78-49.69z', fill='#F3D2C1')
              path(d='M149.7 211.93a6.07 6.07 0 1112.08 1.16L157 262.78a6.07 6.07 0 11-12.1-1.17l4.8-49.68z', stroke='#000')
            path#straps(d='M178.13 92.13c-1.47 16.74 1.56 47.37 25.5 35.91m-37.2-35.91c.94 13.7-1.62 40.44-19.53 37.74m46.33-37.74c3.47 1.3 10.4 7.29 10.4 20.82', stroke='#001858', stroke-width='3', stroke-linecap='round')
            g#arms
              g(id='arm1')
                g(filter='url(#filter3_i)')
                  path(d='M184.07 95.8a6.57 6.57 0 0113.08 1.27l-4.78 49.68a6.57 6.57 0 01-13.09-1.25l4.79-49.7z', fill='#F3D2C1')
                path(d='M184.56 95.86a6.07 6.07 0 1112.1 1.16l-4.8 49.69a6.07 6.07 0 01-12.08-1.17l4.78-49.68z', stroke='#000')
              g(id='arm2')
                g(filter='url(#filter4_i)')
                  path(d='M149.2 95.8a6.57 6.57 0 0113.08 1.27l-4.79 49.68a6.57 6.57 0 01-13.08-1.25l4.78-49.7z', fill='#F3D2C1')
                path(d='M149.7 95.86a6.07 6.07 0 1112.08 1.16L157 146.71a6.07 6.07 0 11-12.1-1.17l4.8-49.68z', stroke='#000')
          g#face
            g#ears
              g(id='Polygon 1')
                g(filter='url(#filter5_i)')
                  path(d='M137.51 35.3a5 5 0 017.6-4.15l3.65 2.22a5 5 0 01-.2 8.66l-3.75 2.05a5 5 0 01-7.4-4.5l.1-4.28z', fill='#F582AE')
                path(d='M138.01 35.31a4.5 4.5 0 016.84-3.74l3.65 2.23a4.5 4.5 0 01-.18 7.8l-3.75 2.04a4.5 4.5 0 01-6.66-4.05l.1-4.28z', stroke='#000')
              g(id='Polygon 2')
                g(filter='url(#filter6_i)')
                  path(d='M181.68 27.6a5 5 0 018.57 1.25l1.58 3.97a5 5 0 01-5.37 6.8l-4.23-.62a5 5 0 01-3.2-8.05l2.65-3.35z', fill='#F582AE')
                path(d='M182.07 27.9a4.5 4.5 0 017.72 1.13l1.58 3.98a4.5 4.5 0 01-4.83 6.11l-4.24-.61a4.5 4.5 0 01-2.88-7.25l2.66-3.35z', stroke='#000')
            g(id='Ellipse 1')
              g(filter='url(#filter7_i)')
                path(d='M209.9 60.4c2.06 20.4.03 30.64-36 35.11-36.04 4.48-41.9-6.62-43.95-27.03-2.06-20.4 13.06-33.07 35.14-35.3 22.08-2.23 42.75 6.82 44.8 27.23z', fill='#F3D2C1')
              path(d='M209.4 60.46c1.03 10.22 1 17.67-3.6 23.15-4.62 5.5-13.95 9.17-31.97 11.4-18 2.24-28.29.56-34.34-4.08-6.05-4.63-8.02-12.3-9.05-22.5-1.01-10.05 2.2-18.17 8.37-24.05 6.19-5.9 15.37-9.6 26.33-10.7 10.97-1.1 21.55.59 29.62 5.06 8.06 4.47 13.63 11.7 14.64 21.72z', stroke='#000')
            g#eyes
              g(id='Ellipse 3', filter='url(#filter8_di)')
                circle(cx='185.77', cy='55.88', r='6.93', transform='rotate(-5.77 185.77 55.88)', fill='#001858')
              g(id='Ellipse 4', filter='url(#filter9_di)')
                circle(cx='146.07', cy='59.89', r='6.93', transform='rotate(-5.77 146.07 59.89)', fill='#001858')
            ellipse(id='Ellipse 36', cx='193.49', cy='68.97', rx='7.55', ry='4.16', transform='rotate(-4.75 193.49 68.97)', fill='#F582AE', fill-opacity='.61')
            ellipse(id='Ellipse 37', cx='143.56', cy='75.83', rx='7.55', ry='4.16', transform='rotate(-9.1 143.56 75.83)', fill='#F582AE', fill-opacity='.58')
            g#whiskers(stroke='#001858', stroke-width='2', stroke-linecap='round')
              path(id='Vector 2', d='M200.48 65.28c2.13-2.04 8.04-5.44 14.69-2.77')
              path(id='Vector 3', d='M201.03 68.75c2.13-2.04 8.04-5.43 14.7-2.77')
              path(id='Vector 4', d='M138.52 73.75c-2.87-.64-9.69-.51-14.02 5.2')
              path(id='Vector 5', d='M139.83 77.01c-2.87-.64-9.68-.51-14.01 5.2')
            path#mouth(d='M160.5 71.28c.1.73.88 2.06 3.27 1.52 2.4-.54 2.11-1.67 1.67-2.18.09.65.91 1.84 3.55 1.5 2.64-.35 2.76-1.67 2.5-2.3', stroke='#001858', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            g#Intersect(filter='url(#filter10_d)')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M175.12 39.93a4.94 4.94 0 004.93-5.35 58.97 58.97 0 00-9.78-.56 4.96 4.96 0 004.85 5.9z', fill='#FEF6E4')
            g#Intersect_2(filter='url(#filter11_d)')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M166.27 39.4a4.94 4.94 0 004.92-5.4 64.42 64.42 0 00-9.86.7 4.94 4.94 0 004.94 4.7z', fill='#FEF6E4')
            g#Intersect_3(filter='url(#filter12_d)')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M157.87 40.84a4.94 4.94 0 004.75-6.32c-3.4.48-6.62 1.23-9.62 2.22a4.95 4.95 0 004.87 4.1z', fill='#FEF6E4')
      g#explosions
        circle(id='c1', cx='208.68', cy='301.68', r='1.56', fill='#EB5757')
        circle(id='c2', cx='214.93', cy='301.68', r='1.56', fill='#56CCF2')
        circle(id='c3', cx='221.18', cy='301.68', r='1.56', fill='#BB6BD9')
        circle(id='c4', cx='227.42', cy='301.68', r='1.56', fill='#EB5757')
        circle(id='c5', cx='233.67', cy='301.68', r='1.56', fill='#56CCF2')
        circle(id='c6', cx='236.79', cy='298.56', r='1.56', fill='#6FCF97')
        circle(id='c7', cx='230.54', cy='298.56', r='1.56', fill='#F2C94C')
        circle(id='c8', cx='224.3', cy='298.56', r='1.56', fill='#F2994A')
        circle(id='c9', cx='218.05', cy='298.56', r='1.56', fill='#6FCF97')
        circle(id='c10', cx='211.81', cy='298.56', r='1.56', fill='#F2C94C')
        circle(id='c11', cx='205.56', cy='298.56', r='1.56', fill='#F2994A')
    defs
      filter#filter0_i(x='146.38', y='90.31', width='54.13', height='133.77', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-5', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter1_i(x='178.65', y='206.38', width='19.13', height='64.03', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-5', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter2_i(x='143.78', y='205.34', width='19.13', height='64.03', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-5', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter3_i(x='178.65', y='89.27', width='19.13', height='64.03', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-5', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter4_i(x='143.78', y='89.27', width='19.13', height='64.03', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-5', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter5_i(x='137.41', y='30.41', width='13.75', height='14.29', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-4', dy='2')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter6_i(x='177.95', y='25.7', width='14.25', height='13.98', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-4', dy='2')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter7_i(x='129.76', y='32.85', width='80.69', height='63.65', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-4', dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter8_di(x='173.84', y='47.95', width='23.86', height='23.86', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        femorphology(radius='1', operator='dilate', in='SourceAlpha', result='effect1_dropShadow')
        feoffset(dy='4')
        fegaussianblur(stdDeviation='2')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        feblend(in='SourceGraphic', in2='effect1_dropShadow', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-1', dy='-1')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0')
        feblend(in2='shape', result='effect2_innerShadow')
      filter#filter9_di(x='134.14', y='51.96', width='23.86', height='23.86', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        femorphology(radius='1', operator='dilate', in='SourceAlpha', result='effect1_dropShadow')
        feoffset(dy='4')
        fegaussianblur(stdDeviation='2')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        feblend(in='SourceGraphic', in2='effect1_dropShadow', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-1', dy='-1')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0')
        feblend(in2='shape', result='effect2_innerShadow')
      filter#filter10_d(x='170.18', y='34', width='9.89', height='7.93', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dy='2')
        fecolormatrix(values='0 0 0 0 0.996078 0 0 0 0 0.964706 0 0 0 0 0.894118 0 0 0 0.52 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        feblend(in='SourceGraphic', in2='effect1_dropShadow', result='shape')
      filter#filter11_d(x='161.33', y='34', width='9.88', height='7.41', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dy='2')
        fecolormatrix(values='0 0 0 0 0.996078 0 0 0 0 0.964706 0 0 0 0 0.894118 0 0 0 0.52 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        feblend(in='SourceGraphic', in2='effect1_dropShadow', result='shape')
      filter#filter12_d(x='153', y='34.52', width='9.82', height='8.32', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dy='2')
        fecolormatrix(values='0 0 0 0 0.996078 0 0 0 0 0.964706 0 0 0 0 0.894118 0 0 0 0.52 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        feblend(in='SourceGraphic', in2='effect1_dropShadow', result='shape')
      lineargradient#paint0_linear(x1='220.55', y1='70.01', x2='220.55', y2='189.44', gradientUnits='userSpaceOnUse')
        stop(stop-color='#F582AE')
        stop(offset='.18', stop-color='#F582AE')
        stop(offset='.19', stop-color='#FEF6E4')
        stop(offset='.99', stop-color='#FEF6E4')
