mixin mo-coding
  svg(class="mo-coding" fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 272 261')
    g#MO-coding
      rect(id='Rectangle 35', x='46.24', y='181.5', width='7.61', height='74.77', rx='3.81', transform='rotate(-13.7 46.24 181.5)', fill='#FEF6E4', stroke='#000')
      rect(id='Rectangle 36', x='-.6', y='.37', width='7.61', height='74.77', rx='3.81', transform='scale(-1 1) rotate(-13.71 728.8 292.12)', fill='#FEF6E4', stroke='#000')
      path(id='Ellipse 66', d='M86.46 158.86c0 7.3-3.94 13.94-10.39 18.78-6.45 4.84-15.38 7.84-25.27 7.84-9.89 0-18.82-3-25.27-7.84-6.45-4.84-10.4-11.48-10.4-18.78 0-7.3 3.95-13.94 10.4-18.78 6.45-4.84 15.38-7.84 25.27-7.84 9.89 0 18.82 3 25.27 7.84 6.45 4.84 10.4 11.48 10.4 18.78z', fill='#F3D2C1', stroke='#001858')
      path(id='Ellipse 65', d='M89.05 155.41c0 7.06-3.94 13.49-10.39 18.17-6.45 4.68-15.38 7.6-25.28 7.6-9.89 0-18.82-2.92-25.27-7.6-6.45-4.68-10.39-11.11-10.39-18.17 0-7.05 3.94-13.47 10.39-18.16 6.45-4.68 15.38-7.6 25.27-7.6 9.9 0 18.83 2.92 25.28 7.6 6.45 4.69 10.39 11.11 10.39 18.16z', fill='#F3D2C1', stroke='#001858')
      g#body(stroke='#001858')
        g#mo-arm2
          rect(id='Rounded Rectangle', x='63.81', y='96.17', width='77.33', height='6.25', rx='3.13', transform='rotate(17.29 63.8 96.17)', fill='#F3D2C1')
          rect(id='Rounded Rectangle_2', x='52.42', y='92.76', width='30.1', height='6.25', rx='3.13', transform='rotate(17.29 52.42 92.76)', fill='#8BD3DD')
        rect#body-shape(x='18.72', y='93.24', width='43.77', height='73.91', rx='21.89', transform='rotate(-20.2 18.72 93.24)', fill='#8BD3DD')
        g#mo-arm1(transform='rotate(15.88 38 108.25)')
          rect(id='Rounded Rectangle_3', x='38', y='108.25', width='91.99', height='7.61', rx='3.81', fill='#F3D2C1')
          rect(id='Rounded Rectangle_4', x='38', y='108.25', width='23.51', height='7.61', rx='3.81', fill='#8BD3DD')
      g(id='Vector 10')
        path(d='M78.78 135.18l-4.3.4a47.9 47.9 0 00-31 15.53l139.92 99.02 10.33-10.76 9.9-10.34-124.85-93.85z', fill='#E1A07B')
        path(d='M193.73 239.37l9.9-10.34-124.85-93.85-4.3.4a47.9 47.9 0 00-31 15.53v0l139.92 99.02 10.33-10.76zm0 0L69.74 151.1', stroke='#000')
      g#face2
        g#head
          rect(x='4.31', y='1.72', width='62.85', height='94.71', rx='31.43', fill='#F3D2C1')
          rect(x='4.81', y='2.22', width='61.85', height='93.71', rx='30.93', stroke='#001858')
        g#r-eye
          path(id='Ellipse 53', d='M95.94 24.97c0 13.54-10.4 24.47-23.18 24.47S49.58 38.51 49.58 24.97 59.98.5 72.76.5c12.77 0 23.17 10.93 23.17 24.47z', fill='#fff', stroke='#000')
          ellipse(id='Ellipse 54', cx='77.49', cy='24.97', rx='1.58', ry='9.99', fill='#172C66')
        g#l-eye(stroke='#000')
          path(id='Ellipse 55', d='M58.05 24.97c0 13.54-10.4 24.47-23.18 24.47-12.77 0-23.18-10.93-23.18-24.47S22.1.5 34.87.5s23.18 10.93 23.18 24.47z', fill='#fff')
          path(id='Ellipse 56', d='M40.69 24.97c0 2.74-.18 5.21-.46 6.98-.14.9-.3 1.59-.48 2.05l-.14.33c-.05-.08-.1-.2-.15-.33-.17-.46-.33-1.15-.48-2.05a47.22 47.22 0 01-.45-6.98c0-2.74.17-5.21.45-6.98.15-.9.3-1.59.48-2.05.05-.14.1-.25.15-.33a11.23 11.23 0 01.62 2.37c.28 1.78.46 4.25.46 6.99zm-1.2 9.52s0 0 0 0 0 0 0 0zm.23 0s0 0 0 0 0 0 0 0zm0-19.04s0 0 0 0 0 0 0 0zm-.22 0s0 0 0 0 0 0 0 0z', fill='#172C66')
        g#mouth
          path(id='Ellipse 62', d='M63.72 60.3c0 14.72-11 26.66-24.54 26.66-13.56 0-24.54-11.94-24.54-26.67 0-14.73 10.98-10.71 24.54-10.71 13.55 0 24.54-4.02 24.54 10.71z', fill='#CE0000')
          path#Intersect(fill-rule='evenodd', clip-rule='evenodd', d='M14.71 60.83a28.66 28.66 0 0111.61-2.4c13.88 0 25.13 9.54 25.13 21.32 0 1.58-.2 3.11-.59 4.6a25.1 25.1 0 01-11.4 2.7c-13.7 0-24.82-10.91-24.82-24.38 0-.65.02-1.26.07-1.84z', fill='#FF7D7D')
        g#ear
          circle(id='Ellipse 63', cx='5.6', cy='42.62', r='5.1', fill='#F3D2C1', stroke='#000')
          path(id='Vector 9', d='M6.46 41.33l-3.88 1.72 3.88 3.02', stroke='#000', stroke-linecap='round', stroke-linejoin='round')
          ellipse(id='Ellipse 64', cx='11.62', cy='45.63', rx='3.87', ry='4.31', fill='#F3D2C1')
      g#Desk
        g(id='Rectangle 25')
          path(d='M146.38 146.38h12.05L177.37 254h-12.05l-18.94-107.63z', fill='#F3D2C1')
          path(d='M165.74 253.5l-18.77-106.63h11.04l18.77 106.63h-11.04z', stroke='#000')
        g(id='Rectangle 27')
          path(d='M109.78 146.38H97.73L78.78 254h12.06l18.94-107.63z', fill='#F3D2C1')
          path(d='M90.42 253.5l18.77-106.63H98.15L79.38 253.5h11.04z', stroke='#000')
        rect(id='Rectangle 19', x='121.91', y='12.55', width='128.15', height='90.27', rx='11.5', fill='#F3D2C1', stroke='#001858')
        rect(id='Rectangle 18', x='131.38', y='12.55', width='128.15', height='90.27', rx='11.5', fill='#EEC1AA', stroke='#001858')
        path(id='Vector 8', d='M16.36 254h260.46', stroke='#000')
        rect(id='Rectangle 20', x='182.18', y='53.88', width='41.19', height='37.75', rx='8.5', stroke='#001858')
        path(id='Rectangle 21', d='M187.49 82.62a4.5 4.5 0 014.45-5.15h23.47a4.5 4.5 0 014.46 3.85l7.58 52a4.5 4.5 0 01-4.45 5.14h-23.48a4.5 4.5 0 01-4.45-3.85l-7.58-52z', fill='#E9AB8C', stroke='#001858')
        path(id='Rectangle 22', fill='#F3D2C1', stroke='#001858', d='M182.18 135.68h65.3v5.89h-65.3z')
        rect(id='Rectangle 23', x='96.94', y='139.13', width='187.56', height='9.33', rx='4.67', fill='#8BD3DD', stroke='#001858')
        rect(id='Rectangle 24', x='75.41', y='139.13', width='86.82', height='9.33', rx='4.67', fill='#8BD3DD', stroke='#001858')
        path(id='Rectangle 28', d='M108.83 136.04a3.37 3.37 0 012.85-4.65l60.34-4.76a4.5 4.5 0 014.85 4.49v2.5a4.5 4.5 0 01-4.5 4.5h-60.43c-1.36 0-2.6-.82-3.11-2.08z', fill='#FDEFCE', stroke='#001858')
        path(id='Rectangle 29', d='M108.51 135.69a3.34 3.34 0 012.97-4.23l25.08-1.86a4.27 4.27 0 11.31 8.53h-25.15c-1.5 0-2.8-1-3.2-2.44z', fill='#FDEBC4', stroke='#001858')
      g#foot2
        g(filter='url(#filter3_i)')
          path(d='M190.74 244.22l22.04-21.17a8.18 8.18 0 1111.33 11.8l-10.24 9.84a16.36 16.36 0 01-23.13-.47z', fill='#F582AE')
        path(d='M213.52 244.33a15.86 15.86 0 01-22.07-.1l21.68-20.82a7.68 7.68 0 0110.64 11.08l-10.25 9.84z', stroke='#000')
      g#foot1
        g(filter='url(#filter4_i)')
          path(d='M183.4 249.53l20.93-22.28a8.18 8.18 0 1111.92 11.2l-9.73 10.35a16.36 16.36 0 01-23.12.72z', fill='#F582AE')
        path(d='M206.16 248.46a15.86 15.86 0 01-22.05 1.04l20.58-21.91a7.68 7.68 0 0111.2 10.51l-9.73 10.36z', stroke='#000')
    defs
      filter#filter3_i(x='190.74', y='217.38', width='39.28', height='38.64', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter4_i(x='183.4', y='221.28', width='38.45', height='39.44', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0')
        feblend(in2='shape', result='effect1_innerShadow')
