mixin mo-coding 
  svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 272 261')
    g#MO-coding
      rect(id='Rectangle 35', x='46.2', y='181.5', width='7.6', height='74.8', rx='3.8', transform='rotate(-13.7 46.2 181.5)', fill='#FEF6E4', stroke='#000')
      rect(id='Rectangle 36', x='-.6', y='.4', width='7.6', height='74.8', rx='3.8', transform='scale(-1 1) rotate(-13.7 728.8 292.1)', fill='#FEF6E4', stroke='#000')
      path(id='Ellipse 66', d='M86.5 158.9c0 7.3-4 13.9-10.4 18.7a42.3 42.3 0 01-25.3 7.9c-9.9 0-18.8-3-25.3-7.9A23.7 23.7 0 0115.1 159c0-7.3 4-14 10.4-18.8a42.3 42.3 0 0125.3-7.9c9.9 0 18.8 3 25.3 7.9a23.7 23.7 0 0110.4 18.8z', fill='#F3D2C1', stroke='#001858')
      path(id='Ellipse 65', d='M89 155.4c0 7-3.9 13.5-10.3 18.2a43.3 43.3 0 01-25.3 7.6c-10 0-18.8-3-25.3-7.6-6.4-4.7-10.4-11.1-10.4-18.2 0-7 4-13.5 10.4-18.2a43.3 43.3 0 0125.3-7.5c9.9 0 18.8 2.9 25.3 7.6 6.4 4.6 10.3 11 10.3 18.1z', fill='#F3D2C1', stroke='#001858')
      g#body(stroke='#001858')
        g#arm2
          rect(id='Rounded Rectangle', x='63.8', y='96.2', width='77.3', height='6.3', rx='3.1', transform='rotate(17.3 63.8 96.2)', fill='#F3D2C1')
          rect(id='Rounded Rectangle_2', x='52.4', y='92.8', width='30.1', height='6.3', rx='3.1', transform='rotate(17.3 52.4 92.8)', fill='#8BD3DD')
        rect#body-shape(x='18.7', y='93.2', width='43.8', height='73.9', rx='21.9', transform='rotate(-20.2 18.7 93.2)', fill='#8BD3DD')
        g#arm1(transform='rotate(15.9 38 108.2)')
          rect(id='Rounded Rectangle_3', x='38', y='108.2', width='92', height='7.6', rx='3.8', fill='#F3D2C1')
          rect(id='Rounded Rectangle_4', x='38', y='108.2', width='23.5', height='7.6', rx='3.8', fill='#8BD3DD')
      g(id='Vector 10')
        path(d='M78.8 135.2l-4.3.4c-12 1.1-23 6.6-31 15.5l139.9 99 10.3-10.7 10-10.4-125-93.8z', fill='#E1A07B')
        path(d='M193.7 239.4l10-10.4-125-93.8-4.2.4c-12 1.1-23 6.6-31 15.5v0l139.9 99 10.3-10.7zm0 0L69.7 151', stroke='#000')
      g#face2
        g#head
          g(filter='url(#filter0_i)')
            rect(x='4.3', y='1.7', width='62.9', height='94.7', rx='31.4', fill='#F3D2C1')
          rect(x='4.8', y='2.2', width='61.9', height='93.7', rx='30.9', stroke='#001858')
        g#l-eye
          ellipse(id='Ellipse 55', cx='34.9', cy='25', rx='23.7', ry='25', fill='#fff')
          ellipse(id='Ellipse 56', cx='39.6', cy='25', rx='1.6', ry='10', fill='#172C66')
        g#r-eye
          ellipse(id='Ellipse 53', cx='72.8', cy='25', rx='23.7', ry='25', fill='#fff')
          ellipse(id='Ellipse 54', cx='77.5', cy='25', rx='1.6', ry='10', fill='#172C66')
        g#mouth
          path(id='Ellipse 62', d='M63.7 60.3C63.7 75 52.7 87 39.2 87c-13.6 0-24.6-12-24.6-26.7s11-10.7 24.6-10.7c13.5 0 24.5-4 24.5 10.7z', fill='#CE0000')
          path#Intersect(fill-rule='evenodd', clip-rule='evenodd', d='M14.7 60.8c3.5-1.5 7.4-2.4 11.6-2.4 13.9 0 25.1 9.6 25.1 21.4 0 1.5-.2 3-.5 4.5a25 25 0 01-11.4 2.8 24.6 24.6 0 01-24.8-26.3z', fill='#FF7D7D')
        g#ear
          circle(id='Ellipse 63', cx='5.6', cy='42.6', r='5.1', fill='#F3D2C1', stroke='#000')
          path(id='Vector 9', d='M6.5 41.3l-4 1.8 4 3', stroke='#000', stroke-linecap='round', stroke-linejoin='round')
          ellipse(id='Ellipse 64', cx='11.6', cy='45.6', rx='3.9', ry='4.3', fill='#F3D2C1')
      g#Desk
        g(id='Rectangle 25')
          g(filter='url(#filter1_i)')
            path(d='M146.4 146.4h12l19 107.6h-12l-19-107.6z', fill='#F3D2C1')
          path(d='M165.7 253.5L147 146.9h11l18.8 106.6h-11z', stroke='#000')
        g(id='Rectangle 27')
          g(filter='url(#filter2_i)')
            path(d='M109.8 146.4h-12L78.7 254h12l19-107.6z', fill='#F3D2C1')
          path(d='M90.4 253.5l18.8-106.6h-11L79.3 253.5h11z', stroke='#000')
        rect(id='Rectangle 19', x='121.9', y='12.6', width='128.2', height='90.3', rx='11.5', fill='#F3D2C1', stroke='#001858')
        rect(id='Rectangle 18', x='131.4', y='12.6', width='128.2', height='90.3', rx='11.5', fill='#EEC1AA', stroke='#001858')
        path(id='Vector 8', d='M16.4 254h260.4', stroke='#000')
        rect(id='Rectangle 20', x='182.2', y='53.9', width='41.2', height='37.7', rx='8.5', stroke='#001858')
        path(id='Rectangle 21', d='M187.5 82.6a4.5 4.5 0 014.4-5.1h23.5c2.2 0 4.1 1.6 4.5 3.8l7.5 52a4.5 4.5 0 01-4.4 5.2h-23.5a4.5 4.5 0 01-4.4-3.9l-7.6-52z', fill='#E9AB8C', stroke='#001858')
        path(id='Rectangle 22', fill='#F3D2C1', stroke='#001858', d='M182.2 135.7h65.3v5.9h-65.3z')
        rect(id='Rectangle 23', x='96.9', y='139.1', width='187.6', height='9.3', rx='4.7', fill='#8BD3DD', stroke='#001858')
        rect(id='Rectangle 24', x='75.4', y='139.1', width='86.8', height='9.3', rx='4.7', fill='#8BD3DD', stroke='#001858')
        path(id='Rectangle 28', d='M108.8 136c-.8-2 .6-4.4 2.9-4.6l60.3-4.8a4.5 4.5 0 014.9 4.5v2.5c0 2.5-2 4.5-4.5 4.5h-60.5c-1.3 0-2.6-.8-3-2z', fill='#FDEFCE', stroke='#001858')
        path(id='Rectangle 29', d='M108.5 135.7c-.6-2 .9-4 3-4.2l25-1.9a4.3 4.3 0 11.4 8.5h-25.2c-1.5 0-2.8-1-3.2-2.4z', fill='#FDEBC4', stroke='#001858')
      g#foot2
        g(filter='url(#filter3_i)')
          path(d='M190.7 244.2l22-21.2a8.2 8.2 0 1111.4 11.8l-10.2 9.9c-6.6 6.2-17 6-23.2-.5z', fill='#F582AE')
        path(d='M213.5 244.3c-6.2 6-16 5.9-22 0l21.6-20.9a7.7 7.7 0 0110.7 11l-10.3 10z', stroke='#000')
      g#foot1
        g(filter='url(#filter4_i)')
          path(d='M183.4 249.5l21-22.3a8.2 8.2 0 1111.8 11.2l-9.7 10.4c-6.2 6.6-16.5 7-23.1.7z', fill='#F582AE')
        path(d='M206.2 248.5a15.9 15.9 0 01-22 1l20.5-22a7.7 7.7 0 0111.2 10.6l-9.7 10.4z', stroke='#000')
    defs
      filter#filter0_i(x='4.3', y='1.7', width='62.9', height='94.7', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='2', dy='8')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0.0941176 0 0 0 0 0.345098 0 0 0 0.74 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter1_i(x='146.4', y='146.4', width='31', height='107.6', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='2', dy='21')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter2_i(x='78.8', y='146.4', width='31', height='107.6', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dx='-2', dy='21')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter3_i(x='190.7', y='217.4', width='39.3', height='38.6', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0')
        feblend(in2='shape', result='effect1_innerShadow')
      filter#filter4_i(x='183.4', y='221.3', width='38.5', height='39.4', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        feblend(in='SourceGraphic', in2='BackgroundImageFix', result='shape')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
        feoffset(dy='-4')
        fecomposite(in2='hardAlpha', operator='arithmetic', k2='-1', k3='1')
        fecolormatrix(values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0')
        feblend(in2='shape', result='effect1_innerShadow')
