html {
  box-sizing: border-box;
  // Setting rem to be 10px
  font-size: 62.5%;

  @media screen and (min-width: 600px) {
    font-size: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img,
embed,
svg,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--light-bg);

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-bg);
    }
  }
}
