h1 {
  font-weight: 900;
  font-size: 3rem;
  color: var(--light-h);
  margin-bottom: 1rem;
}

h3,
h4,
h5 {
  color: var(--light-h);
}

p {
  color: var(--light-p);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  color: var(--light-bg-low);
  text-decoration: none;
  background-image: linear-gradient(
      90deg,
      var(--light-tertiary),
      var(--light-tertiary)
    ),
    linear-gradient(90deg, var(--light-bg-low), var(--light-bg-low));
  background-size: 100px 0.2rem, 100% 0.2rem;
  background-repeat: no-repeat;
  background-position-x: calc(100px * -1), 0;
  background-position-y: 100%;
  transition: background-position-x 0.5s;

  &:hover {
    color: var(--light-bg);
    background-image: linear-gradient(
        90deg,
        var(--light-tertiary),
        var(--light-tertiary)
      ),
      linear-gradient(90deg, var(--light-bg), var(--light-bg));

    background-position-x: calc(100% + 100px), 0;
  }
}
