h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--light-h);
  margin-bottom: 1rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--light-h);
  margin-bottom: 1.5rem;
}

h3,
h4,
h5 {
  color: var(--light-h);
}

a {
  color: var(--light-h);
  text-decoration: none;
  background-image: linear-gradient(
      90deg,
      var(--light-tertiary),
      var(--light-tertiary)
    ),
    linear-gradient(90deg, var(--light-highlight), var(--light-highlight));
  background-size: 100px 0.2rem, 100% 0.2rem;
  background-repeat: no-repeat;
  background-position-x: calc(100px * -1), 0;
  background-position-y: 100%;
  transition: background-position-x 0.5s;

  &:hover {
    background-position-x: calc(100% + 100px), 0;
  }
}
