h1 {
  font-weight: 700;
  font-size: 4rem;
  color: var(--light-h);
  margin-bottom: 1rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--light-h);
  margin-bottom: 1.5rem;
}

h3,
h4,
h5 {
  color: var(--light-h);
}
