main {
  padding: 3rem 4%;
  min-height: 53vh;
}

.introduction {
  max-width: 68%;

  .intro-1 {
    font-weight: 900;
    font-size: 3rem;
    // Background only on text
    -webkit-background-clip: text;
    // Transparent color so gradient is visible
    color: transparent;
    // Inline-block so width matches text
    display: inline-block;
    text-transform: uppercase;
    background-size: 300% 300%;
    background-image: linear-gradient(
      -45deg,
      var(--light-p),
      var(--light-tertiary),
      var(--light-h)
    );
    animation: gradient-flow 12s ease-in-out infinite alternate;
  }

  .intro-2 {
    font-weight: 300;
    font-size: 3.5rem;
  }
}

.jet-cat {
  height: 45%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.mo-coding {
  position: absolute;
  z-index: 5;
  height: 30%;
  right: 0;
  top: 65%;
}

.bg-shape1 {
  position: absolute;
  left: 0;
  width: 100%;
  top: 45%;
}

.bg-shape2 {
  position: absolute;
  left: 0;
  width: 100%;
  top: 70%;
}
