<article class="[ featured-work ] [ dot-shadow panel ] [ bg-light-glare ]">
  <div class="[ wrapper ] [ flow ]">
    <div class="[ featured-work__inner ] [ flow ]">
      <div class="[ featured-work__intro ] [ flow flow-space-300 ]">
        <h2
          class="[ featured-work__heading ] [ headline ] [ color-secondary-shade lg:measure-micro ]"
          data-highlight="dark"
        >
          {{ featuredWork.title }}
        </h2>
        <p class="[ featured-work__summary ] [ measure-compact ]">
          {{ featuredWork.summary }}
        </p>
      </div>
      <div class="featured-work__latest-list">
        {% for item in collections
          .blog
          .splice(0, 3) %}
          <a class="featured-work__item" href="{{item.url}}" >
            {{item.data.title}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="[ featured-work__action ] [ flow-space-700 ]">
      <a href="/blog/" class="button">See more posts</a>
    </div>
  </div>
</article>